<div fxLayout="column" fxLayoutAlign="center center">
  <img src="assets/logo/logo.svg" class="logo-img">
  <h1 class="font-logo primary-color" routerLink="/generate">Fontmatch<span>.design</span></h1>
  <p>Fontmatch.design is a free tool to help other designer and creator easily match font with their design better with color.
    If you found this tool useful and would like to support, please don't for get to buy me a coffee ;) Thanks!</p>
  <p>All fonts is not owned by Fontmatch.design or its creator. Fontmatch contains only a redirect link to the original source.</p>

</div>

<style>

  p{
    font-size:16px;
    max-width:480px;
    padding:8px;
  }

  .logo-img{
    width:120px;
    height:120px;
    margin:20px;
  }

  .font-logo{
    font-family: Pacifico;
    font-weight:normal;
    font-size: 24px;
    cursor: pointer;
  }

  .font-logo span{
    font-family: Roboto;
  }

</style>
