<div class="font-card-wrapper" (click)="selectFont(fontFamily)">
  <div class="font-display"
       [class.font-selected]="selectedFont == fontFamily"
       [ngStyle]=
         "{
          'background-color':selectedBgColor,
          'color':fontColor
          }"
  >
    {{index}} {{fontFamily}}
    <p [ngStyle]=
         "{
          'font-size.px':fontSize,
          'font-family':fontFamily
          }"
    >{{displayText}}</p>
  </div>
</div>

<style>

  .font-card-wrapper{
    padding:5px;

  }


  .font-card-wrapper :hover{
    cursor:pointer;
  }

  .font-display{
    padding:5px;
    height:200px;
    border: #757575 1px solid;
    border-radius: 5px;
    line-height:normal;
  }
  .font-selected{
    border: red 5px solid;
  }


</style>
