<div class="font-card-wrapper">

  <div class="font-card-header" fxLayout="row">
    {{fontFamily}}<mat-icon class="checked-icon" *ngIf="selectedFont == fontFamily">check_circle</mat-icon>
    <div style="flex: 1 1 auto;"></div>
      <a [href]="'https://fonts.google.com/specimen/'+fontFamily" target="_blank"><mat-icon class="header-dl-icon">get_app</mat-icon></a>
  </div>
  <div class="font-display" [fxLayoutAlign]="fontAlign + ' center'" [ngStyle]="{
          'background-color':selectedBgColor,
          'color':fontColor
          }" (click)="selectFont(fontFamily)">
    <div class="text-preview" [ngStyle]="{
          'font-size.px':fontSize,
          'font-family':fontFamily,
          'font-style':fontStyle,
          'font-weight':fontWeight,
          'text-align':fontAlign
          }">{{displayText}}
    </div>
  </div>

  <!-- NOTE: FOR POSSIBLE DESIGN CHANGE LATER -->
  <!-- <div class="download-wrapper" fxLayout="row" fxLayoutAlign="end end">
    <div class="download-button">
      <mat-icon class="dl-icon">get_app</mat-icon>
    </div>
  </div> -->

</div>

<style>

  .header-dl-icon{
    font-size:20px;
    margin:0px;
    color:#444444;
    cursor: pointer;
  }


  .dl-icon{
    margin:4px;
    color:white;
  }

  .download-wrapper{
    padding:8px;
    width:100%;
    position: relative;
    height:32px;
    bottom: 32px;
  }

  .download-button {
    
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    ;
  }

  .font-card-wrapper {
    padding: 4px;
  }

  .font-card-header {
    padding-top: 4px;
    font-size: 16px;
    height: 24px;
    color: #444444;
  }

  .checked-icon {
    color: green;
    vertical-align: top;
    font-size: 20px;
    margin-left: 4px;
  }

  .font-display {
    padding: 4px;
    height: 220px;
    border: #c4c4c4 1px solid;
    border-radius: 8px;
    line-height: normal;
    cursor: pointer;
  }

  .text-preview {
    max-height: 90%;
    max-width: 100%;
    overflow: hidden;
  }
</style>