<div class="spacer"></div>
<div fxLayout="column" fxLayout.gt-sm="row">
  <div fxFlex="100" fxFlex.md="50" class="display-container left-container" >
    <app-text-preview></app-text-preview>
  </div>
  <div fxFlex="100" fxFlex.md="50" class="display-container" >
    <app-customize-area></app-customize-area>
  </div>
</div>
<!--<div fxLayout="row" class="display-container">-->
<!--  <app-font-selection-area fxFlex="100%"></app-font-selection-area>-->
<!--</div>-->
<app-font-selection-area></app-font-selection-area>

<button *ngIf="showButton" class="to-top-button animate__animated animate__fadeInUp animate__fast" mat-fab color="primary">
  <mat-icon class="to-top-icon" (click)="scrollToTop()">upgrade</mat-icon>
</button>

<style type="text/scss">

  .spacer{
    width:100%;
    height:16px;
  }

  .to-top-button{
    z-index: 1;
    position:fixed;
    bottom: 24px;
    right: 24px;
    background-color: #1D4CF2;
  }

  .to-top-icon{
    margin: 0;
  }

  .left-container{
    border-right: #C4C4C4 solid 1px;
  }

  .display-container{
    padding: 12px;
  }
</style>



