<div class="row-container" fxLayout="row">
  <font-card *ngFor="let font of fontGroup" fxFlex="{{100/fontGroup.length}}"
             [fontFamily]="font.family"
             [fontSize]="fontSize"
             [displayText]="displayText"
             [fontColor]="fontColor"
             [selectedBgColor]="selectedBgColor"
             [selectedFont]="selectedFont"
             [fontStyle]="fontStyle"
             [fontWeight]="fontWeight"
             [fontAlign]="fontAlign"

  ></font-card>
</div>

<style>
  .row-container{
    height: 222px;
  }
</style>
