<div fxLayout="column" fxLayoutAlign="start center" class="wrapper">
  <div class="display-area" [ngStyle]="{
  'font-family': $fontFamily | async,
  'font-size.px':$fontSize | async,
  'color':($activeArrayPalette|async)[$fontColorIndex|async],
  'background-color':($activeArrayPalette|async)[$bgColorIndex|async],
  'font-style': $fontStyle | async,
  'font-weight': $fontWeight | async,
  'text-align': $fontAlign | async
  }"  [fxLayoutAlign]="($fontAlign|async)+ ' center'">
    <div class="display-text animate__bounce">{{$previewText | async}}</div>
  </div>
  <div class="err-text animate__animated animate__fadeInDown" *ngIf=" ($fontColorIndex|async) == ($bgColorIndex|async)">
    <mat-icon>warning</mat-icon>
    You are selecting same color for text and background.
  </div>
  <div class="spacer"></div>
  <mat-form-field appearance="outline">
    <mat-label>Your text</mat-label>
    <input matInput type="text" placeholder="Your text" (keyup)="updateText($event)">
  </mat-form-field>
  <div fxLayoutAlign="row" fxLayoutGap="8px" fxLayoutAlign="start start" class="button-area-wrapper white-mt">
    <button  mat-stroked-button class="save-button" (click)="reset()">Reset</button>
    <button  mat-stroked-button class="save-button">Save to Favorites</button>
  </div>
</div>

<style>

  .button-area-wrapper{
    width:100%
  }

  .wrapper{
    padding:0;
  }

  .display-area{
    width:100%;
    height:280px;
    border: #C4C4C4 1px solid;
    border-radius: 16px;
  }

  .display-text{
    padding:10px;
    line-height:normal;
  }

  mat-form-field{
    margin-top:10px;
    width:100%
  }

  .save-button{
    background-color: white;
    border: 1px solid #1D4CF2;
    color: #1D4CF2;
  }

  .white-mt{
    margin-top:8px
  }

  .spacer{
    height: 12px;
    width:100%
  }

  .err-text{
    margin-top:12px;
    color:#b00020;
    font-size:16px;
  }

  .err-text mat-icon{
    vertical-align: bottom;
  }

</style>
