
<div class="display-area" [ngStyle]="{
  'font-size.px':$fontSize | async,
  'color':$fontColor|async,
  'background-color':$bgColor|async
  }"  fxLayoutAlign="center center">
  <div id="displayText" class="display-text">{{$displayText | async}}</div>
</div>
<mat-form-field>
  <input matInput type="text" placeholder="Your text" (keyup)="updateText($event)">
</mat-form-field>

<style>

  .display-area{
    width:100%;
    height:250px;
    border: #323232 1px solid;
    border-radius: 10px;
  }

  .display-text{
    padding:10px;
    line-height:normal;
  }

  mat-form-field{
    margin-top:10px;
    width:100%
  }

</style>
