<mat-toolbar fxLayoutGap="10px">
<!--  <img src="assets/logo/logo.svg" class="header-logo">-->
  <button mat-icon-button class="menu-button" fxHide fxShow.lt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="font-logo primary-color">Fontmatch<span>.design</span></div>
  <span fxFlex="1 1 auto"></span>
  <div fxHide.xs>
    <button mat-flat-button class="header-button">Generate</button>
    <button mat-flat-button class="header-button">Explore</button>
    <button mat-flat-button class="header-button">Favorite</button>
    <button mat-flat-button class="header-button">Feedback</button>
  </div>
</mat-toolbar>

<!--<div fxLayout="row">-->
<!--  <div fxFlex="1 1 auto" class="header-col1">-->
<!--    <div class="font-logo primary-color">Fontmatch<span>.design</span></div>-->
<!--  </div>-->
<!--  <mat-tab-group>-->
<!--    <label class="font-logo primary-color">Fontmatch<span>.design</span></label>-->
<!--    <mat-tab label="Generate"></mat-tab>-->
<!--    <mat-tab label="Explore"></mat-tab>-->
<!--    <mat-tab label="Favorite"></mat-tab>-->
<!--    <mat-tab label="Feedback"></mat-tab>-->
<!--  </mat-tab-group>-->
<!--</div>-->

<style>

  .menu-button{
    margin:0;
  }

  .menu-button mat-icon{
    margin:0;
  }

  .header-col1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height:49px
  }

  .font-logo{
    font-family: 'Pacifico', cursive;
    font-weight:normal;
    font-size: 24px;
  }

  .font-logo span{
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
  }

  .header-button{
    width: 80px;
    font-weight:normal;
    color: #1D4CF2;
    cursor: pointer;
  }

  mat-toolbar{
    height:56px;
    font-size: 16px;
  }
  .header-logo{
    width: 48px;
    height: 48px;
  }

  mat-toolbar{
    background-color: white;
    border-bottom: #b0b0b0 1px solid;
  }

</style>

