<!--<app-header></app-header>-->
<mat-toolbar>
  <!--  <img src="assets/logo/logo.svg" class="header-logo">-->
  <button mat-icon-button class="menu-button" (click)="sNav.toggle()" fxHide fxShow.lt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="font-logo primary-color">Fontmatch<span>.design</span></div>
  <span fxFlex="1 1 auto"></span>
  <div fxHide.xs fxLayoutGap="4px">
    <button mat-flat-button class="header-button" [class.active-route-button]="isActiveRoute('')">Generate</button>
    <button mat-flat-button class="header-button" [class.active-route-button]="isActiveRoute('explore')">Explore</button>
    <button mat-flat-button class="header-button" [class.active-route-button]="isActiveRoute('favorite')">Favorite</button>
    <button mat-flat-button class="header-button" [class.active-route-button]="isActiveRoute('feedback')">Feedback</button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sNav [mode]="'over'" [autoFocus]="false" >
    <mat-nav-list class="nav-list">
      <a mat-list-item class="route-list" [class.active-route-list]="isActiveRoute('')">Generate</a>
      <a mat-list-item class="route-list" [class.active-route-list]="isActiveRoute('explore')">Explore</a>
      <a mat-list-item class="route-list" [class.active-route-list]="isActiveRoute('favorite')">Favourite</a>
      <a mat-list-item class="route-list" [class.active-route-list]="isActiveRoute('feedback')">Feedback</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
<!--    APP MAIN OUTLET-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<style>

  .main-content{
    min-height: 100vh;
  }

  .menu-button{
    margin:0;
    color:#444444;
  }

  .menu-button mat-icon{
    margin:0;
  }

  .header-col1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height:49px
  }

  .font-logo{
    font-family: Pacifico;
    font-weight:normal;
    font-size: 24px;
  }

  .font-logo span{
    font-family: Roboto;
  }

  .header-button{
    width: 80px;
    font-weight:normal;
    cursor: pointer;
    padding: 0 4px 0 4px;
    color: #1D4CF2;
  }

  .active-route-button{
    background-color: #1D4CF2;
    color:white;
  }

  .route-list{
    color:#444444;
  }

  .active-route-list{
    border-left: 4px solid #1D4CF2;
    font-weight: bold;
  }

  mat-toolbar{
    height:56px;
    font-size: 16px;
  }
  .header-logo{
    width: 48px;
    height: 48px;
  }

  mat-toolbar{
    background-color: white;
    border-bottom: #b0b0b0 1px solid;
    padding:0 8px;
  }

  .nav-list{
    width:160px;
    padding:0;
  }

</style>
