<!--<app-header></app-header>-->

<mat-toolbar>
  <!--  <img src="assets/logo/logo.svg" class="header-logo">-->
  <div fxFlex="4%" fxHide fxShow.gt-md></div>
  <button mat-icon-button class="menu-button" (click)="sNav.toggle()" fxHide fxShow.lt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="font-logo primary-color" routerLink="/generate">FontMatch<span>.design</span></div>
  <span fxFlex="1 1 auto"></span>
  <div fxHide.xs fxLayoutGap="4px">
    <button mat-flat-button class="header-button" routerLinkActive="active-route-button" routerLink="/create">Generate</button>
    <button mat-flat-button class="header-button" routerLinkActive="active-route-button" routerLink="/about">About</button>
    <a target="_blank" href="https://trello.com/b/tEt4AF2J/fontmatchdesign"><button mat-flat-button class="header-button">Feedback</button></a>
  </div>
  <a href="https://www.buymeacoffee.com/khanin" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-orange.png" alt="Buy Me A Coffee" style="height: 36px !important;width: 130px !important;margin:12px 0 0 8px!important;" ></a>
  <div fxFlex="4%" fxHide fxShow.gt-md></div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sNav [mode]="'over'" [autoFocus]="false" >
    <mat-nav-list class="nav-list">
      <a mat-list-item class="route-list" routerLinkActive="active-route-list" routerLink="/create">Generate</a>
      <a mat-list-item class="route-list" routerLinkActive="active-route-list" routerLink="/about">About</a>
      <a mat-list-item class="route-list" target="_blank" href="https://trello.com/b/tEt4AF2J/fontmatchdesign">Feedback</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content" fxLayout="row" fxLayoutAlign="center start">
<!--    APP MAIN OUTLET-->
    <div fxFlex="100" fxFlex.gt-md="88">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


<style>

  .main-content{
    min-height: 100vh;
  }

  .menu-button{
    margin:0;
    color:#444444;
  }

  .menu-button mat-icon{
    margin:0;
  }

  .header-col1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height:49px
  }

  .font-logo{
    font-family: Pacifico;
    font-weight:normal;
    font-size: 24px;
    cursor: pointer;
  }

  .font-logo span{
    font-family: Roboto;
    font-size:20px;
  }

  .header-button{
    width: 80px;
    font-weight:normal;
    cursor: pointer;
    padding: 0 4px 0 4px;
    color: #1D4CF2;
  }

  .active-route-button{
    background-color: #1D4CF2;
    color:white;
  }

  .route-list{
    color:#444444;
  }

  .active-route-list{
    border-left: 4px solid #1D4CF2;
    font-weight: bold;
  }

  mat-toolbar{
    height:56px;
    font-size: 16px;
  }
  .header-logo{
    width: 48px;
    height: 48px;
  }

  mat-toolbar{
    background-color: white;
    border-bottom: #b0b0b0 1px solid;
    padding:0 8px;
  }

  .nav-list{
    width:160px;
    padding:0;
  }

</style>
