<div class="wrapper">
  <div class="area-label">Frame style</div>
  <div fxLayout="row" fxLayoutGap="8px" class="frame-button-wrapper">
    <button mat-stroked-button class="frame-button"><mat-icon>crop_16_9</mat-icon>16:9</button>
    <button mat-stroked-button class="frame-button"><mat-icon>crop_square</mat-icon>Square</button>
    <button mat-stroked-button class="frame-button"><mat-icon>radio_button_unchecked</mat-icon>Circle</button>
  </div>
  <div class="area-label row-mt">Color Palette</div>
  <div fxLayout="column" class="row-mt" fxLayoutAlign="space-between start" fxLayout.xs="column" fxLayoutAlign.xs="start start">

<!--    NOTE: FOLLOWING CODE IS WAY TO GO BUT BUG WITH COLOR PICKER, HAVE TO DO MANUAL ITERATION INSTEAD-->
<!--    <div class="palette-container" fxLayout="row row-mb">-->
<!--      <div class="palette-color"-->
<!--           *ngFor="let color of arrayPalette; let i = index"-->
<!--           [(colorPicker)]="arrayPalette[i]"-->
<!--           [cpPosition]="'bottom'"-->
<!--           [style.background]="arrayPalette[i]"-->
<!--      ></div>-->
<!--    </div>-->

    <div class="palette-container" fxLayout="row row-mb">
      <div class="palette-color" [(colorPicker)]="arrayPalette[0]" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':arrayPalette[0]}" ></div>
      <div class="palette-color" [(colorPicker)]="arrayPalette[1]" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':arrayPalette[1]}" ></div>
      <div class="palette-color" [(colorPicker)]="arrayPalette[2]" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':arrayPalette[2]}" ></div>
      <div class="palette-color" [(colorPicker)]="arrayPalette[3]" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':arrayPalette[3]}" ></div>
      <div class="palette-color" [(colorPicker)]="arrayPalette[4]" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':arrayPalette[4]}" ></div>
    </div>

<!--    <div class="palette-container" fxLayout="row row-mb">-->
<!--      <div class="palette-color" [(colorPicker)]="objPalette.color1" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':objPalette.color1}" ></div>-->
<!--      <div class="palette-color" [(colorPicker)]="objPalette.color2" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':objPalette.color2}" ></div>-->
<!--      <div class="palette-color" [(colorPicker)]="objPalette.color3" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':objPalette.color3}" ></div>-->
<!--      <div class="palette-color" [(colorPicker)]="objPalette.color4" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':objPalette.color4}" ></div>-->
<!--      <div class="palette-color" [(colorPicker)]="objPalette.color5" (colorPickerChange)="updatePalette()" [cpPosition]="'bottom'" [ngStyle]="{'background-color':objPalette.color5}" ></div>-->
<!--    </div>-->

    <div class="palette-color" [(colorPicker)]="tempPalette.color1" (colorPickerChange)="updateFontColor()" [ngStyle]="{'background-color':tempPalette.color1}"></div>



    <mat-form-field appearance="outline" fxFlex="48">
      <mat-select [value]="5">
        <mat-option [value]="5">5 colors</mat-option>
        <mat-option [value]="4">4 colors</mat-option>
        <mat-option [value]="3">3 colors</mat-option>
        <mat-option [value]="2">2 colors</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="area-label row-mt">Text</div>

  <div class="row-mt palette-container" fxLayout="row">
    <div class="md-palette-color" *ngFor="let color of arrayPalette;let i = index" (click)="selectFontColor(i)" [ngStyle]="{'background-color':color}" [class.selected-color]="i == ($fontColorIndex | async)"></div>
  </div>

  <div fxLayout="row" class="row-mt" fxLayoutAlign="space-between start">

    <mat-form-field appearance="outline" fxFlex="48">
      <mat-select [value]="'Roboto'">
        <mat-option [value]="'Roboto'">Roboto</mat-option>
        <mat-option [value]="4">4 colors</mat-option>
        <mat-option [value]="3">3 colors</mat-option>
        <mat-option [value]="2">2 colors</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex="48">
      <mat-button-toggle-group name="formatAlign" aria-label="Font Style">
        <mat-button-toggle value="left"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="right"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start">

    <mat-form-field appearance="outline" fxFlex="48">
      <mat-select [value]="40">
        <mat-option [value]="40">40 px</mat-option>
        <mat-option [value]="4">4 colors</mat-option>
        <mat-option [value]="3">3 colors</mat-option>
        <mat-option [value]="2">2 colors</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="48">
      <mat-select [value]="'bold'">
        <mat-option [value]="'bold'">Bold</mat-option>
        <mat-option [value]="4">4 colors</mat-option>
        <mat-option [value]="3">3 colors</mat-option>
        <mat-option [value]="2">2 colors</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="font-size-container" fxLayout="row">
          <button mat-button>{{$fontSize|async}}px
          </button>

    <div fxFlex="auto">

      <mat-slider min="8" max="300" step="1" value="{{$fontSize|async}}"
                  (input)="updateFontSize($event.value)"></mat-slider>
    </div>
  </div>

  <div class="area-label row-mt">Background</div>
  <div fxLayout="row" class="row-mt" fxLayoutAlign="space-between start">

    <div class="palette-container" fxLayout="row">
      <div class="md-palette-color" *ngFor="let color of arrayPalette; let i = index" (click)="selectBgColor(i)" [ngStyle]="{'background-color':color}" [class.selected-color]="i == ($bgColorIndex | async)"></div>
    </div>
  </div>
</div>

<style>

  mat-button-toggle mat-icon{
    margin:0 4px 0 4px;
  }

  .palette-container{
    height:fit-content;
  }

  .palette-color{
    width:46px;
    height:46px;
    cursor: pointer;
  }

  .palette-container :first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .palette-container :last-child{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }


  .md-palette-color{
    width:36px;
    height:36px;
    cursor: pointer;

  }

  .mat-form-field-appearance-outline .mat-form-field-infix{
    padding:8px 0 1em 0;
  }

  .mat-select-arrow-wrapper{
    padding-top:8px;
  }

  .row-mt{
    margin-top:12px;
  }

  .row-mb{
    margin-bottom:12px;
  }

  mat-icon{
    margin-right:8px;
  }

  .wrapper{
    padding:0
  }

  .area-label{
    font-size:20px;
    font-weight: 500;
  }

  .frame-button-wrapper{
    margin-top:12px;
  }

  .frame-button{
    color: #444444;
    font-weight: normal;
  }

  .selected-color{
    border: black 1px solid;
  }

</style>
