<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Font">
    <div class="font-size-container" fxLayout="row">
      <button mat-button [matMenuTriggerFor]="fontSizeMenu">{{$fontSize|async}}px
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <div fxFlex="auto">
        <mat-slider min="8" max="300" step="1" value="{{$fontSize|async}}"
                    (input)="updateFontSize($event.value)"></mat-slider>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Background">Background</mat-tab>
</mat-tab-group>

<mat-menu #fontSizeMenu="matMenu" xPosition="before" class="font-size-menu">
  <button mat-menu-item *ngFor="let fontSize of fontSizeListMenu" (click)="updateFontSize(fontSize)">
    <span>{{fontSize}}</span>
  </button>
</mat-menu>

<style>

  .mat-slider-horizontal {
    width: 100%
  }

  .font-size-container {
    margin-top: 5px;
  }

  .font-size-menu .mat-menu-panel {
    width: 80px;
  }

</style>
