<mat-tab-group animationDuration="800">
  <mat-tab label="Fonts select">

    <cdk-virtual-scroll-viewport class="virtual-viewport" itemSize="256">
      <app-card-row *cdkVirtualFor="let fontGroup of $groupedFontList | async"
                    [fontGroup]="fontGroup"
                    [displayText]="$displayText | async"
                    [fontSize]="$fontSize | async"
                    [fontColor]="($arrayPalette | async)[$fontColorIndex|async]"
                    [selectedBgColor]="($arrayPalette | async)[$bgColorIndex|async]"
                    [selectedFont]="$selectedFont | async"
                    [fontStyle]="$fontStyle |async"
                    [fontWeight]="$fontWeight | async"
                    [fontAlign]="$fontAlign | async"

      ></app-card-row>
    </cdk-virtual-scroll-viewport>

  </mat-tab>
  <mat-tab label="Color combination">
    <div style="height:50vh; width:100%" fxLayout="row wrap">
        <div class="combination-card" fxFlex="33.33" *ngFor="let couple of paletteCombination" 
        [ngStyle]="{
          'background-color':couple[0]
        }">
        <div [ngStyle]="{'color':couple[1]}">{{$displayText | async}}</div>
        </div>
    </div>
  </mat-tab>
</mat-tab-group>

<style>

  .virtual-viewport {
    height: calc(100vh - 60px);
  }

  .combinatino-card{
    height:240px;
  }

</style>


