<mat-tab-group animationDuration="800" mat-align-tabs="start">
  <mat-tab label="Fonts select">

    <cdk-virtual-scroll-viewport class="virtual-viewport" itemSize="256">
      <app-card-row *cdkVirtualFor="let fontGroup of $groupedFontList | async"
                    [fontGroup]="fontGroup"
                    [displayText]="$displayText | async"
                    [fontSize]="$fontSize | async"
                    [fontColor]="($arrayPalette | async)[$fontColorIndex|async]"
                    [selectedBgColor]="($arrayPalette | async)[$bgColorIndex|async]"
                    [selectedFont]="$selectedFont | async"
                    [fontStyle]="$fontStyle |async"
                    [fontWeight]="$fontWeight | async"
                    [fontAlign]="$fontAlign | async"
      ></app-card-row>
    </cdk-virtual-scroll-viewport>

  </mat-tab>
  <mat-tab label="Color combination">
    <div fxLayout="row wrap">
      <div class="combination-wrapper" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="25" *ngFor="let combination of paletteCombination">
        <div class="combination-card"
             [ngStyle]="{'background-color':combination.bgColor}"
             (click)="selectCombination(combination)" fxLayout="row" [fxLayoutAlign]="($fontAlign | async)+ ' center'">
          <div class="display-text"
               [ngStyle]="{
                'color':combination.fontColor,
                'font-size.px':$fontSize|async,
                'font-family':$selectedFont | async,
                'font-style':$fontStyle | async,
                'font-weight':$fontWeight | async,
                'text-align':$fontAlign | async
                }">
            {{$displayText | async}}
          </div>

        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<style>

  .virtual-viewport {
    /*height: calc((256*3px) - 48px);*/
    height: 2400px;
  }

  .combination-card {
    height: 220px;
    border-radius: 8px;
    padding: 4px;
    border: #c4c4c4 1px solid;
    cursor: pointer;
  }

  .combination-wrapper {
    padding: 4px;
  }

  .display-text {
    max-height: 90%;
    max-width: 100%;
    overflow: hidden;
    line-height: normal;

  }

</style>


